bin
.vscode
geckodriver.exe
selenium-server-4.3.0.jar
.DS_Store
helm.exe
hq.exe
vendor
Helm.app
HQ.app
src/msplannersecret.go
src/jirasecret.go
src/dynamicssecret.go
src/jira_tasks_token_test.go
src/Helm-Installer.dmg
src/HQ-Installer.dmg
src/gsmsecret.go
key
HelmSigned.exe
HQSigned.exe
src/tasks/jira_tasks_token_test.go
src/tasks/msplannersecret.go
src/tasks/gsmsecret.go
